*{
  margin:0 auto;
  text-align:center;


}

#userSearch{
  width:300px;
}
#search-button:hover{
  transition:1s;
  background-color:magenta;
}
.results{
  margin:0 auto;
  text-align:center;
  padding-left:10%;
}

.recipeEntry{
  padding-top:5px;
  padding-bottom:10px;
  background-color: beige;
  width:25%;
  height:200px;
  color:black;
  margin:20px;
  position:relative;
}

.recipeEntry:hover{
  transition:.5s;
  background-color:powderblue;
}

#recipeImage{
  height:150px;
  width:175px;
}

#recipeUrl:hover{
  transition:1s;
  color:dodgerblue;
}
.spaceBetween{
  height:100px;
}