*{
  margin:0 auto;
  text-align:center;


}

#userSearch{
  width:300px;
}
#search-button:hover{
  transition:1s;
  background-color:magenta;
}
.results{
  margin:0 auto;
  text-align:center;
}

.recipeEntry{

  padding-top:10px;
  padding-bottom:10px;
  background-color: beige;
  color:black;
  margin:20px auto;
  height:100%;
  width:50%;
}

.recipeEntry:hover{
  transition:.5s;
  background-color:powderblue;
}

#recipeImage{
  height:150px;
  width:175px;
}

#recipeUrl:hover{
  transition:1s;
  color:dodgerblue;
}
.spaceBetween{
  height:100px;
}